<div class="container">
    <div class="row">
        <div class="col-sm pt-4">
            <h2 class="mb-4"><strong>Shipping Prices</strong></h2>

            <div class="shipping-item mb-1" *ngFor="let shipping of shippingCosts | async">
                <span>{{ shipping.type }}</span>
                <br>
                <span>{{ shipping.price | currency }}</span>
            </div>
        </div>
    </div>
</div>