.container__details {
    padding: 2rem 2rem;
}

h1 {
    margin-top: 1rem;
    text-align: center;
}

.card__details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card__right {
    padding-top: 5rem;
}