<div class="container">
    <h1><strong>Product Detail</strong></h1>
    <div class="card__details" *ngIf="product">
        <div class="card__left">
            <img [src]="product.image" />
        </div>
        <div class="card__right">
            <h2>{{ product.title }}</h2>
            <hr>
            <h6><strong>Description: </strong>{{ product.description }}</h6>
            <hr>
            <p><strong>Price:</strong> ${{ product.price }}</p>
            <hr>
            <label><strong>Quantity:</strong></label>
            <input class="form-control" type="number" [(ngModel)]="product.quantity" min="1">
            <button class="btn btn-success" (click)="plus()">+</button>
            <button class="btn btn-danger" (click)="dismiss()">-</button>
            <br>
            <button class="btn btn-primary" type="button" (click)="addToCart(product)">
                Add To Cart
            </button>
        </div>
    </div>
</div>
