<div class="container">
    <div class="row">
        <div class="col-sm pt-2">
            <h2 class="mb-4"><strong>Cart Products</strong></h2>
            <p>
                <a routerLink="/shipping">Shipping Prices</a>
            </p>
            <div class="cart-item mb-1" *ngFor="let item of items">
                <span>{{ item.title }}</span>
                <br>
                <span>{{ item.price | currency }}</span>
            </div>
            <br>
            <br>
            <div class="mb-5" *ngIf="items.length == 0">
                <h4>Oups! No Products.</h4>
            </div>
            
            <div class="row">
                <div class="col-sm-4">
                    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
                        <div class="form-group">
                            <label for="name"><strong>NAME</strong></label>
                            <input id="name" class="form-control" type="text" formControlName="name">
                        </div>
                        <div class="form-group">
                            <label for="address"><strong>ADDRESS</strong></label>
                            <input id="address" class="form-control" type="text" formControlName="address">
                        </div>
                        <button class="btn btn-success" type="submit">
                            Purchase
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
