<div class="container">
    <div class="row">
        <div class="col-sm List__products">
            <h1><strong>Products List</strong></h1>
            <ul class="product-grid">
                <li *ngFor="let product of products; index as i; trackBy: trackByFn">
                    <div class="List">
                        <h3><a [title]="product.title + ' details'" [routerLink]="['/products', i]">
                            {{ product.title }}</a>
                        </h3>
                        <img [src]="product.image" />
                        <strong>Price: {{ product.price | currency }} </strong>
                    </div>
                </li>
            </ul>
        </div>  
    </div>
</div>



