li{
    list-style: none;
}

.List__products {
    padding-top: 2rem;
}

.List__products h1 {
    text-align: center;
}

.List {
    border: 1px solid black;
    border-radius: 10px;
    height: auto;
    margin: 0.2rem 0.2rem;
    padding: 1rem 1rem;
}

img {
    height: auto;
    max-width: 100%;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media(min-width: 576px){
    .product-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}